// DECLARE FONTS
@font-face {
   font-family: myFirstFont;
   src: url(sansation_bold.woff);
   font-stretch: normal; // condensed, ultra-condensed, extra-condensed, semi-condensed, expanded, semi-expanded, extra-expanded, ultra-expanded
   font-weight: normal; // bold, 100, 200, 300, 400, 500, 600, 700, 800, 900
}

//max 4 rezy IE u jedne family


