h1,
.h1 {
}
h2,
.h2 {
}
h3,
.h3 {
}
h4,
.h4 {
}
h5,
.h5 {
}
h6,
.h6 {
}
a {
  color: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto !important;
  vertical-align: middle;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
